<div class="container py-3">
    <table class="table table-hover" *ngIf="returnGet.length; else emptyAlert">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Número do pix</td>
                <td>Valor depositado</td>
                <td>Acões</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of returnGet">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.pix }}</td>
                <td>{{ item.valueCash | currency : 'BRL' }}</td>
                <td>
                    <div>
                        <a routerLink="product/{{ item.id }}">
                            <i class="fa fa-pencil mx-2 pointer"></i>
                        </a>
                        <i class="fa fa-trash mx-2 pointer" (click)="trash(item.id)"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="register" [ngClass]="{'d-none': returnGet.length === 0}">
        <p>Total de {{ returnGet.length }} registros.</p>
    </div>
    <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator> -->
    <ng-template #emptyAlert>
        <div class="text-center">
            <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                    <p>Faca suas transacões em um piscar de olhos.</p>
                </div>
                <div class="col-md-8">
                    <img src="assets/img/consumer.png" width="500px" alt="Consumer" />
                </div>
            </div>
        </div>
    </ng-template>
</div>