<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h5 class="my-4">Edite os dados de suas transacões.</h5>
            <form>
                <div class="form-group mt-2">
                    <label>Nome completo:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name" required />
                </div>
                <div class="form-group mt-2">
                    <label>Pix number:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="pix" name="pix" required />
                </div>
                <div class="form-group mt-2">
                    <label>Valor do depósito:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="valueCash" name="valueCash" required />
                </div>
            </form>
            <div class="d-flex">
                <div class="sub mt-3">
                    <button class="btn btn-primary" (click)="save()">Salvar dados</button>
                </div>
                <div class="sub mt-3 mx-2">
                    <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container my-4">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome completo:</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="product.name" name="name" required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pix number:</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="product.pix" name="pix" required />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Valor do depósito:</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="product.valueCash" name="valueCash" required />
        </mat-form-field>
    </form>
    <div class="d-flex">
        <div class="sub mt-3">
            <button mat-button (click)="save()">Salvar dados</button>
        </div>
        <div class="sub mt-3 mx-2">
            <button mat-button color="warn" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>