<div class="container">
    <div class="row">
        <div class="col-md-4 my-4">
            <h4 class="my-4">Envie suas transacões aonde estiver em um piscar de olhos.</h4>
            <form class="example-form" (ngSubmit)="send()" #valid="ngForm">
                <mat-form-field class="back__color" appearance="fill">
                    <mat-label>Nome completo:</mat-label>
                    <input matInput #formName="ngModel" [(ngModel)]="product.name" name="name" required />
                    <app-validations info="Nome completo não inserido" *ngIf="formName.invalid && formName.touched"></app-validations>
                </mat-form-field>
                <mat-form-field class="back__color" appearance="fill">
                    <mat-label>Pix number:</mat-label>
                    <input matInput #formPix="ngModel" [(ngModel)]="product.pix" name="pix" required />
                    <app-validations info="Pix não inserido" *ngIf="formPix.invalid && formPix.touched"></app-validations>
                </mat-form-field>
                <mat-form-field class="back__color" appearance="fill">
                    <mat-label>Valor do depósito:</mat-label>
                    <input matInput #formValueCash="ngModel" [(ngModel)]="product.valueCash" name="valueCash" required />
                    <app-validations info="Valor não inserido" *ngIf="formValueCash.invalid && formValueCash.touched"></app-validations>
                </mat-form-field>
                <div class="sub">
                    <button mat-raised-button color="warn" type="submit" [disabled]="valid.invalid">Enviar transacão</button>
                </div>
            </form>
        </div>
        <div class="col-md-8 text-center">
            <img src="assets/img/happy-people.png" alt="peoples" />
        </div>
    </div>
</div>